1. Explain the key features of Python that make it a popular choice for programming.

* Simple and easy to learn : Python has a straightforward syntax which emphasizes readability and reduces the cost of program maintenance.
* Dynamically Typed :        Python uses dynamic typing, meaning you don't need to specify variable types. This makes the code concise and                                flexible but can also lead to potential runtime errors.
* Object-Oriented:           Python supports object-oriented programming (OOP) principles such as encapsulation, inheritance, and                                        polymorphism. It allows for the creation and usage of classes and objects.
* Community and support :    Python has a lagre and active community of developers.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

* Predefined keyowrds that holds a special meaning and have a specific prupose in python.
* These keywords cannot be used as identifiers (such as variable names or function names) because they are reserved for specific syntax and   functionality. 
* Here's some lists of keywords

In [2]:
#1.  if, elif, else

x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is smaller than 5")

x is greater than 5

In [3]:
#2. for

fruits = ["mango","watermelon", "apple"]
for fruit in fruits:
    print(fruit)

mango
watermelon
apple

In [5]:
#3. while

count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

3. Compare and contrast mutable and immutable objects in Python with examples.

Mutable : Objects/conatiner whose state or value can be changed after they are created are called as a mutable objects.
          This means that you can modify the object's contents without changing its identity (memory location).

Following example :

In [8]:
# creating the list

list1 = [1, 2, "Ram", "Raju", "Ajay", "Mohan"]
list1

[1, 2, 'Ram', 'Raju', 'Ajay', 'Mohan']

In [11]:
# changing the list

list1[2] = "Vijay"
list1[0] = 100
list1

[100, 2, 'Vijay', 'Raju', 'Ajay', 'Mohan']

Immutable : Objects/conatiner whose state or value cannot be changed after they are created are called as a immutable objects.
            If you need to modify an immutable object, you need to create a new object with the desired changes.

Following example :

In [12]:
# string

name = "Mohan"
name

'Mohan'

In [14]:
# changing the string

name[0] = "R"

# it will raised an error of item assignmet.

TypeError: 'str' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used.

Operators : Special keywords / symbols that are used to perform some operations on values or variables.
List of operators in python :

1. Arithmatic operators (+,-,*,/,//,%,**)
2. Comprasion operators (==,!=,>,<,>=,<=,)
3. Logical operators (and,or,not)
4. Assignment operators (=,+=,-=,*=,/=,)
5. Bitwise operators (&,|,^,~,<<,>>)
6. Membership operators (in,notin)
7. Identitiy operators (is,isnot)

Examples :

In [23]:
#arithmatic operators
a = 4+5-8*12/3
b = 22//4
c = 4**2
print(a)
print(b)
print(c)

-23.0
5
16

In [25]:
# comprasion operators

a = 2==2
b = 3!=3
c = 6!=3
d = 10<=2
e = 10>=2
print(a)
print(b)
print(c)
print(d)
print(e)

True
False
True
False
True

In [31]:
# Logical operators

a = True and True
b = True and False
c = False and True
d = False and False
e = True or True
f = True or False
g = False or True
h = False or False
i = not True
j = not False

print(a,b,c,d,e,f,g,h,i,j)

True False False False True True True False False True

In [34]:
# Assignment operators

a = 10
a += 4
a -= 2
a *= 3
a /= 4
print(a)

9.0

In [38]:
# Bitwise operators

a = 10 & 5
b = 3 | 5
c = ~4
d = 6 ^ 4
e = 23<<4
f = 21>>5
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

0
7
-5
2
368
0

In [42]:
# Membership operators

a = "Manoj"
b = "M" in a
c = "n" not in a
print(b,c)

True False

In [44]:
# Identity operators

a = 2
b = 3
c = a is b
d = a is not b
print(c,d)

False True

5. Explain the concept of type casting in Python with examples

Type casting : The process of changing the one data type to another data type of value/object.
               There are two type of type casting
               Implicit typecasting : Python understand the datatype.
               Explicit typecasting : Convert datatype using inbuilt function.
Examples :

In [69]:
# Implicit typecasting 
4 + 4.5 #int to flaot

8.5

In [67]:
# int() , float() ,  bool() , list

a = "10"
b = int(a)
print(b)

a = "14"
b = float(a)
print(b)

a = 1
b = bool(a)
print(b)

a = (1, 2, 3)
b = list(a)
print(b)

10
14.0
True
[1, 2, 3]

In [68]:
# str()

a=5
str(a)

'5'

6. How do conditional statements work in Python? Illustrate with examples.

Conditions : Conditional statements in Python allow you to execute certain pieces of code based on conditions being true or false. 
             There are some types of conditional
             'if'
             'elif'
             'else'
             'nested if'
Examples :

In [70]:
# if,elif,else

x = 0

if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is zero

In [78]:
# nested if

x = -10
y = 20

if x > 0:
    if y > 0:
        print("Both x and y are positive")
    else:
        print("x is positive but y is negative")
else:
    if y > 0:
        print("x is negative")
    else:
        print("both negative")

x is negative

7. Describe the different types of loops in Python and their use cases with examples.

Loops : It allows you to execute a block of code repeadtly.
        Python supports the several types loop.
        'while'
        'for'
        'range'
        'nested'
        'break', 'contiune'

In [82]:
# while loop

# while condition:
     # code block to execute

n = 4
i = 1
while i < n:
    print(i)
    i += 1

1
2
3

In [85]:
# for loop

name = "ajay"
for i in name:
    print(i)

a
j
a
y

In [86]:
# range

for i in range(1, 6):  # range from 1 to 5 (6 is exclusive)
    print(i)

1
2
3
4
5

In [87]:
# nested for

for i in range(1, 4):
    for j in range(1, 4):
        print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

In [88]:
# break statement

n = 4
i = 0
while i < n:
    print(i)
    i += 1
    if i == 2:
        break
else :
    print ("this will be executed")

0
1

In [90]:
# continue statement

n = 4
i = 0
while i < n:
    i += 1
    if i == 2:
        continue
    print(i)
else :
    print ("this will be executed")

1
3
4
this will be executed