1. Discuss string slicing and provide examples.

String slicing : It is a powerful feature in Python that allows you to extract a substring from a string by specifying a start and end index.
Syntax [start:end:step]

start: The starting index of the substring. It specifies where the slice begins (inclusive).
end:   The ending index of the substring. It specifies where the slice ends (exclusive).
step: (Optional). It specifies the increment for the indices (default is 1).

Basic Slicing examples:

In [3]:
# Extracting a substring

s = "Hello World!"
print(s[1:5])

# Here indices start form 0 of index and end of 5 is exclusive

ello

In [10]:
# Using negative indices

s = "Hello World!"
print(s[-6:-1])

# Here negative indices start at the end of the string like -1,-2, so on.

World

In [13]:
# Skipping the characters

S = "Hello World!"
print(s[::2])

# Here the characters are skipping using step range. We have given step 2 (If you will not give step it will take by default by 1)

HloWrd

In [18]:
# Reversing string

s = "Hello World!"
print(s[::-1])

# Here the string is reversing by giveing the step form negative indices.

!dlroW olleH

In [21]:
# Handling out of range

s = "Hello World!"
print(s[:20])

# It handles out of range indices gracefully  by adjusting.

Hello World!

2. Explain the key features of lists in Python.

Lists : Lists are versatile data structures used to store collections of items, which can be of different data types.
        Some key Features of List:
        
1. Mutable: Lists are mutable, meaning you can change the elements after the list has been created. You can add, remove, or modify items in a list.
2. Ordered: Lists maintain the order of elements. The order in which you add elements to the list is preserved and can be accessed by index.
3. Heterogeneous Elements: A single list can contain elements of different data types. For example, [1, 'apple', True] is a valid list in Python.
4. Dynamic: Lists in Python can grow and shrink dynamically. You can add items using append() or extend() methods, and remove items using pop() or remove() methods.
5. Indexing and Slicing: Elements in a list can be accessed using indexing and slicing. Positive indices count from the beginning (starting with 0), and negative indices count from the end (-1 for the last element).
6. Nesting: Lists can contain other lists as elements, allowing for the creation of nested data structures.
7. Iterability: Lists are iterable, meaning you can iterate over all elements in the list using a loop or other iterable methods.

3. Describe how to access, modify, and delete elements in a list with examples.

You can access elements in a list using indexing.
Python lists use zero-based indexing, meaning the index starts at 0 for the first element.

Example:

In [37]:
# Accessing elements

my_list = ["apple", "banana", "cherry", "date"]

print(my_list[0])
print(my_list[2])
print(my_list[-1]) #negative index to access from end

apple
cherry
date

In [38]:
# Modifying element to a list

my_list = ["apple", "banana", "cherry", "date"]

my_list[1] = "orange"
print(my_list)

my_list[2:4] = ["grape","fig"] # using slicing to modify multiple elements
print(my_list)

['apple', 'orange', 'cherry', 'date']
['apple', 'orange', 'grape', 'fig']

In [41]:
# Deleting elements

my_list = ["apple", "orange", "grape", "fig"]

del my_list[1]  # using del statement
print(my_list)

my_list.pop(2)  # using pop method with index
print(my_list)

my_list.remove("apple")  # using remove method by value
print(my_list)

# using slicing to delete multiple elements

my_list = ["apple", "orange", "grape", "fig"]
my_list[1:3] = []  #  removing elements orange and grape
print(my_list)

['apple', 'grape', 'fig']
['apple', 'grape']
['grape']
['apple', 'fig']

4. Compare and contrast tuples and lists with examples.

Both tuples ans lists are data structure in python that is used to store collections of items.
Here's a comprasion and contrast between tuples and lists.

Lists :

* Mutable : Elements can be added, removed, or modified after the list is created.
* Syntax : Defined using square brackets '[ ]'
* Use : Ideal for collections of homogeneous items where the order and changeability of elements are important.
* You need a collection of items that can be modified or rearranged.

Tuples : 

* Immutable : Once a tuple is created, you cannot add, remove, or modify elements.
* Syntax : Defined using parentheses '( )'.
* Use : Suitable for fixed collections of heterogeneous items where immutability and integrity of data.
* You want to ensure data integrity and immutability.

Example :

In [1]:
# Creating a list

my_list = ["Apple", "Banana", "Mango"]
print(my_list)

# Modifing a list

my_list[1] = "Orange"
print(my_list)

# Adding elements

my_list.append('Grape')
print(my_list)

# Removing elements

my_list.remove('Apple')
print(my_list)

['Apple', 'Banana', 'Mango']
['Apple', 'Orange', 'Mango']
['Apple', 'Orange', 'Mango', 'Grape']
['Orange', 'Mango', 'Grape']

In [8]:
# Creating a tuple

my_tuple = ("Apple", "Banana", "Mango")
print(my_tuple)

# trying to modify a tuple 

my_tuple[1] = "Orange"  # Immutable

('Apple', 'Banana', 'Mango')

TypeError: 'tuple' object does not support item assignment

In [9]:
# Adding element

my_tuple.append("Papaya")  # Tuple is Immutable

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
# Accessing elements

print(my_tuple[0])

# Combining a tuple

combine_tuple = my_tuple + ("Grape", "Lichi")
print(combine_tuple)

Apple
('Apple', 'Banana', 'Mango', 'Grape', 'Lichi')

5. Describe the key features of sets and provide examples of their use.

* A set is a collection of objects, considered as an object in its own right. The objects in a set are called elements or members of the set.
* The elements of a set do not have a specific order. For example, the set {1,2,3} is the same as {3,1,2}.
* A set cannot have duplicate elements. 
* If you try to add a duplicate element to a set, it will still contain only one instance of that element. For example, {1,2,2,3} is equivalent to {1,2,3}.
* The set with no elements is called the empty set, denoted by ∅ or {}.
* For example :

In [5]:
# Unordered
s = {1, 2, 2.2, "pwskills", "apple", 3+5j}
s

{(3+5j), 1, 2, 2.2, 'apple', 'pwskills'}

In [7]:
# Duplicate values
s = {1, 2, 2, "apple", "banana", "apple"} # cannot have duplicate values
s

{1, 2, 'apple', 'banana'}

In [13]:
s  = {} # empty set is donoted as 0 value
s

{}

6.  Discuss the use cases of tuples and sets in Python programming.

* Tuples : Once tuple has been created it cannot be changed.
*            Tuples maintain the order of elements, so you can access elements by index.
*            Tuples can contain multiple instances of the same value.
*            Here are some use cases of tuples :

In [18]:
# Multiple instances of same value.

t = (1, 2, 3, 4.4, "Pwskills", "Ajay", "Data science", 1)
print(t)

t[0] # Order of elements, can access by index no.

(1, 2, 3, 4.4, 'Pwskills', 'Ajay', 'Data science', 1)

1

In [19]:
# Tuple cannot be changed after it has been created.

t[1] = 100

TypeError: 'tuple' object does not support item assignment

In [44]:
# Count use cases

tuple1 = (1, 1, 2.2, 2.2, "Pwskills", "Data science")

print (tuple1.count(1))
print (tuple1.count("Pwskills"))
print (tuple1.count(2.2))
print (tuple1.count(2.3)) 

# Index

print(tuple1.index("Data science"))

# double tuple

print(tuple1*2)

# Slicing

print(tuple1[0:4])
print(tuple1[1:6:2])

# Nested tuple

t1 = (1, 2, 3)
t2 = (101, 202, 303)
t3 = (t1, t2)
print(t3)

# Maxmium and minimum value of tuple

print(max(t1))

print(min(t2))

2
1
2
0
5
(1, 1, 2.2, 2.2, 'Pwskills', 'Data science', 1, 1, 2.2, 2.2, 'Pwskills', 'Data science')
(1, 1, 2.2, 2.2)
(1, 2.2, 'Data science')
((1, 2, 3), (101, 202, 303))
3
101

* Set : Sets can be modified after their creation.
*         Sets do not maintain order. 
*         They do not support indexing, slicing, or other sequence-like behavior.
*         Sets automatically discard duplicate elements, so each element must be unique.
*         Here are some use caese of sets :

In [69]:
# Discard duplicate elements and unordered

s = {1, 1, 2, 2, 2, "pwskills", "pwskills", "apple", "apple", 3, 1.2}
print (s)
print (type(s))

# indexing or slicing is not allowed

print(s[0])

{1, 2, 3, 1.2, 'apple', 'pwskills'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [70]:
# Use case
list1 = [1, 2, 3, "Apple", "Apple", "Banana", "Banana"]
s = set(list1)
print(s)

{1, 2, 3, 'Apple', 'Banana'}

In [71]:
# loop in set

for i in s:
    print(i)

1
2
3
Apple
Banana

In [73]:
# Modification after being created

s.add(100)  # Not complusary that it will be added at last
print(s)

s.pop() # not complusary that it will be removed the last element
print(s)

s.remove("Apple")  # remove specific element
print(s)

{1, 2, 3, 100, 'Apple', 'Banana'}
{2, 3, 100, 'Apple', 'Banana'}
{2, 3, 100, 'Banana'}

In [76]:
s.update("Orange")   #updates take iterable
print(s)

{2, 3, 100, 'e', 'r', 'Banana', 'O', 'g', 'a', 'n', 'Orange'}

In [77]:
s.update(["Orange"]) 
print(s)

{2, 3, 100, 'e', 'r', 'Banana', 'O', 'g', 'a', 'n', 'Orange'}

In [78]:
s.clear() # empty set
print(s)

set()

In [82]:
# Use cases of union and intersection in set

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(union)
intersection = set1 & set2 
print(intersection)

{1, 2, 3, 4, 5}
{3}

7. Describe how to add, modify, and delete items in a dictionary with examples.

* Adding items in dicttionary : To add items to a dictionary, you can use a new key and assign it a value. 
* Modifying items in dicttionary : To modify items, simply assign a new value to an existing key. This updates the value for that key in the dictionary.
* Deteing items in dictionary : You can delete items from a dictionary using the del statement, the pop() method, or the popitem() method.
* Example :

In [2]:
# Creating empty dictionary

my_dict = {}

# Adding items

my_dict["Name"] = "Raj"
my_dict["Age"] = 22
my_dict["City"] = "Surat"
my_dict["Course"] = "DataScience"

print(my_dict)

# Adding one more

my_dict["Occupation"] = "Engineer"
print(my_dict)

{'Name': 'Raj', 'Age': 22, 'City': 'Surat', 'Course': 'DataScience'}
{'Name': 'Raj', 'Age': 22, 'City': 'Surat', 'Course': 'DataScience', 'Occupation': 'Engineer'}

In [3]:
# Modifying items

my_dict = {"name": "Raj", "age":22, "city":"surat", "course": "data science"}
print(my_dict)

# modifying an existing item

my_dict["age"] = 21
my_dict["city"] = "mumbai"

print(my_dict)

{'name': 'Raj', 'age': 22, 'city': 'surat', 'course': 'data science'}
{'name': 'Raj', 'age': 21, 'city': 'mumbai', 'course': 'data science'}

In [6]:
# Delete items

my_dict = {"name": "Raj", "age":22, "city":"surat", "course": "data science"}

# deleteing an item

del my_dict["city"]
print(my_dict)

# using pop method

my_dict.pop("age")
print(my_dict)

{'name': 'Raj', 'age': 22, 'course': 'data science'}
{'name': 'Raj', 'course': 'data science'}

In [9]:
my_dict.clear()
print(my_dict)

{}

In [10]:
del my_dict

In [11]:
my_dict

NameError: name 'my_dict' is not defined

8. Discuss the importance of dictionary keys being immutable and provide examples.

*  Dictionary keys must be immutable because the dictionary relies on the hash value of the key to ensure fast access and retrieval of values. 
* Here's the expalntion :
1. Hashing mechanism : 
* Python dictionaries use a hashing mechanism to quickly locate and retrieve values associated with keys.
* If the content of the key changes, the hash value would change, making it impossible for the dictionary to locate the value.
2. Consistency : 
* Immutability guarantees that the key remains constant throughout its lifetime. This consistency is essential for the dictionary to manage the key-value mapping reliably.

* Examples :

In [12]:
# Example with immutable keys
# Using through strings

my_dict = {"name": "vijay", "age": 22}

# Accessing values

print(my_dict["name"])
print(my_dict["age"])

vijay
22

In [14]:
# Example with mutable keys
# Using through list

my_dict = {[1,2,3]: "some value"}  # this will raise a key type error

TypeError: unhashable type: 'list'